.mydiv{
				padding:10px;
				margin:20px;
				border:1px solid thistle;
				}
.mydemo{
				border:1px solid navy;
				padding:10px;
				}
.newclass{
			background-color:tan;
				padding:10px;
				}
.newparaclass{
				color:firebrick;
				}